body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #28a745;
}

.container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex: 70;
    background-color: #28a745;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
}

.login-form {
    flex: 30;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid #28a745;
    margin: auto;
}

h1, h2 {
    margin: 0 0 15px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-email{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="password"], .loginButton {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #28a745;
    outline: none;
}

.loginButton {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.loginButton:hover {
    background-color: #218838;
}
