
<div class="app-container">
  <div class="header-container">
    <app-header></app-header>
  </div>
  <div class="sidebar-container">
    <app-sidebar></app-sidebar>
  </div>




      <div class="card-container">
        <div class="sendmessage-container">
          <h3>Cadastrar novo usuário</h3>
          <form class="new-user-from">
            <div>
              <label for="Username">Nome:</label>
              <input type="text" id="userName" name="userName"  required #userName= />

            </div>

          </form>
        </div>
      </div>


</div>
